*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    display: flex;
}
.MainContainer{
    display: flex;
    /* padding: 5vh 5vw; */
    /* border: 2px solid black; */
    flex-direction: column;
}
.TextContainer{

    /* border: 2px solid black; */
    width: 30vw;
    height: 35vh;
    background-color: rgb(240, 239, 244);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px  gray;
    padding: 20px;
    margin: 20px;
    font-size: 15px;

}

.ImageContainer{
    display: flex;
}
.ImageContainer .Image{

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 10px;
}
.ImageContainer p{
    font-size: 15px;
    margin-bottom: 0;
}
.CardsContainer{
    display: flex;
}